.DS_Store
*~
*.py
__pycache__/
*.afdesign
assets/ds_workflow/
_calendar.html
_consulting.html
_footer.html
_header.html
_impressum.html
_index.html
_mlws_exercise_project.html
_mlws_exercise_spotlight.html
_mlws_executive.html
_mlws_scientist.html
_mlws_strategist.html
_mlws_strategist_de.html
_projects.html
_resources.html
_consulting_old_packages.html
consulting_old_packages.html
