.DS_Store
*~
*.py
__pycache__/
*.afdesign
assets/ds_workflow/
assets/data_science_workflow.gif
_*.html
*/A-Practitioner-s-Guide-to-Machine-Learning.pdf
*/A-Practitioner-s-Guide-to-Machine-Learning.epub
rsebook/Clarity-Driven-Development-of-Scientific-Software.pdf
rsebook/Clarity-Driven-Development-of-Scientific-Software.epub
